body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 910px;
    background-color: #f0f0f0;
    border: 2px solid #e9dfdf;
}

.container {
    position: relative;
    width: 100%;
    height: 80%;
    border: 10px solid #1f1e1e;
    margin: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100px;
}


/* First row */
.row1 {
    width: 100%;
    height: 90px;
    background-color: #74A7FF;
 
}


/*second row */
.row2 {
    width: 100%;
    height: 90px;
    background-color: rgb(105, 62, 5);
     display: flex;}

#box3 {
    width: 25%;
    height: 90px;
    background-color: #DA7F52;
  

}

#box4 {
    width: 25%;
    height: 90px;
    background-color: #704302;
   

}
#box5 {
    width: 25%;
    height: 90px;
    background-color: #F57C9B;
   

}
#box6 {
    width: 25%;
    height: 90px;
    background-color: #575DAB;
   

}
#box7 {
    width: 120px;
    height: 120px;
    background-color: rgb(92, 94, 27);
    border: 2px solid #dad0d0;
margin: auto;

}


/*third row */
.row3 {
    width: 100%;
    height: 450px;
    background-color: #C49ADC;
     display: flex;}


    #box8 {
        width: 12.5%;
        height: 450px;
        background-color:#C49ADC;
     
    
    }
    #box9 {
        width: 75%;
        height: 450px;
        background-color: rgb(17, 17, 17);
     display: flex;
    }
    #box10 {
        width: 12.5%;
        height: 550px;
        background-color: #42474A;
      align-self: stretch;
    
    }
  /*fourth row */
    .row4 {
        width:87.5%;
        height: 100px;
        background-color: #398046;
         display: flex;}
